<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../styles.css">
    <title>SSL</title>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <subheader>
        <%- include('partials/editsubheader'); %>
    </subheader>

    <% const link = `/edit/${session.username}/${log}/${data.post_id}` %>
    <div class="container">
        <form class="form-flex" action="<%= link %>" method="post">
            <input type="text" name="name" value="<%=data.name%>" required>
            <textarea class="entry-form-textarea" name="text"><%= data.text %></textarea>
            <input class="post-button" type="submit" value="post">
        </form>
    </div>
</body>
</html>