<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Document</title>
</head>
<body>

    <header>
        <%- include('partials/header'); %>
    </header>

    <subheader>
        <%- include('partials/logsubheader'); %>
    </subheader>  

   <div class="log-container">
        <% data.forEach(function(x){ %>
            <div class="entry-container">
                <ul class="entry-tagline-container">
                    <% const entryLink = `/edit/${session.username}/${log}/${x.post_id}` %>
                    <li><a class="link1"><%= x.name %></a></li>
                    <li><a class="link3"><%= x.created_at %></a></li>
                    <li><button><a class="link3" href="<%= entryLink %>">edit</a></button></li>
                </ul>
                <p class="entry-text-container"><%= x.text %></p>
            </div>
        <% }) %>
    </div>
</body>
</html>